@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button-blue.css");
@import url("components/button-red.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Inria Serif', serif;
	text-align: justify;
	margin: 0px;
}

a {
	text-decoration:none;
}

